<p>
  Now the fun begins! Decorate your home to the best of your ability. About a week out from the Halloween Spooktacular we will ask
  everyone to vote on their favorite decorated home. The winner will be announced at the event. If you have any questions, contact 
  <a href="mailto:nephi@bellecreekmd.org">Nephi Wright</a> or <a href="mailto:shannon@bellecreekmd.org">Shannon Wester</a>.

  Resubmitting the form with the same email address will update your information.
</p>
<button class="btn btn-submit"
        (click)="reset.emit()"
        type="button">
  Sign Up Again
</button>
