<h1 class="stylized">Trunk-Or-Treat!</h1>
<p>
  We will be running a trunk-or-treat around Central Park this year that will go from 3:15 to 5 pm.
  Candy will be provided for you, so all you need to do is show up with a decorated car and hand out
  candy to the little gouls and goblins. So craft yourself the most frightening vehicle and show us 
  what you can do.
</p>
<p class="directions" *ngIf="loadingState !== States.COMPLETED">All forms fields must be completed to submit. You can 
  change your submission by re-submitting with the same email address.
</p>
<bc-trunk-or-treat-form (stateChanged)="stateChanged($event)" *ngIf="loadingState !== States.COMPLETED">
</bc-trunk-or-treat-form>
<bc-trunk-or-treat-complete (reset)="stateChanged(States.UNSTARTED)" *ngIf="loadingState === States.COMPLETED">
</bc-trunk-or-treat-complete>
<div class="return-home">
  <a routerLink="/">Back Home</a>
</div>

