/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Feast';
  src: url('/assets/fonts/FEASFBRG.woff2') format('woff2'),
  url('/assets/fonts/FEASFBRG.woff') format('woff'),
  url('/assets/fonts/FEASFBRG.TTF') format('truetype');
}

body {
  font-size: 18px;
  font-size: 2.5vw;
  margin: 0;
  background: #555A6F;
  color: #E2DAE3;
  font-family: "Feast", Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 26px;
  }
}

.wrapper {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.hero-wrapper {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f9ef), to(#555A6F));
  background-image: -webkit-linear-gradient(top, #f7f9ef, #555A6F);
  background-image: -moz-linear-gradient(top, #f7f9ef, #555A6F);
  background-image: linear-gradient(to bottom, #f7f9ef, #555A6F);
}

.hero {
  padding: 0 20px;
}

.hero img,
.bottom-background img {
  width: 100%;
}

.activity-details {
  font-size: 1.4em;
  text-transform: uppercase;
  text-align: center;
  margin: 30px;
}

.activity-details .light {
  color: #FBBB42;
}

.activity-details .dark {
  color: #D36D27;
}

.details-wrapper {
  text-align: right;
}

.event-details {
  font-size: 1.6em;
  text-align: center;
  text-transform: uppercase;
  margin: 30px;
}

.location {
  color: #B09EB4;
}

.bottom-background {
  background: url('/assets/images/Background.svg') no-repeat bottom;
  background-size: cover;
}

.float {
  overflow: hidden;
  clear: both;
}

.float.left {
  float: left;
}

.float.right {
  float: right;
}

.booed {
  padding: 18px 0;
}

.booed a {
  color: inherit;
}

@keyframes bounce {
  0%, 100%, 20%, 50%, 80% {
    -webkit-transform: translateY(0);
    -ms-transform:     translateY(0);
    transform:         translateY(0)
  }
  40% {
    -webkit-transform: translateY(-18px);
    -ms-transform:     translateY(-18px);
    transform:         translateY(-18px)
  }
  60% {
    -webkit-transform: translateY(-9px);
    -ms-transform:     translateY(-9px);
    transform:         translateY(-9px)
  }
}
.booed {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
.booed:hover {
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
}
