<div class="float right">
  <div class="event-details">
    <div class="date">Saturday October 27, 2018</div>
    <div class="time">5:00 - 7:00pm</div>
    <div class="location stylized">At the Belle Creek Family Center</div>
  </div>
</div>
<div class="float left">
  <div class="activity-details">
    <div class="white stylized bigger">Fun for the whole family</div>
    <div class="light">• Photo Booth • Trunk or Treat •</div>
    <div class="dark">• Assorted halloween Activities •</div>
    <div class="light">• Music &amp; Dancing •</div>
    <div class="dark">• Costume Contest •</div>
    <div class="light">• Home Decorating Contest •</div>
    <br />
    <div class="signup">
      <a routerLink="/trunkOrTreat" id="trunk-or-treat-signup">Decorate you car!</a>
    </div>
    <div class="signup">
      <a routerLink="/houseDecoration" id="house-decoration-signup">Decorate your home!</a>
    </div>
    <div class="booed">
      <a id="booed-link" routerLink="/booYourNeighbor">Did you get boo'ed?</a>
    </div>
  </div>
</div>
<div class="float right">
  <div class="event-details">
    <div>
      <span class="stylized">Monster Mash Dance </span>
      <span class="stylized smaller">to follow</span>
    </div>
    <div class="time">7:30 - 9:30pm • $5 Admission</div>
    <div class="">For 6th - 8th Graders</div>
  </div>
</div>
<div class="clear-floats"></div>
