<div class="float right">
  <div class="event-details">
    <div class="date">Saturday October 26, 2019</div>
    <div class="time">3:00 - 5:30pm</div>
    <div class="location stylized">
      At Centeral Park in front of the Belle Creek Family Center
    </div>
  </div>
</div>
<div class="center">
  <div class="activity-details">
    <div class="white stylized bigger">Fun for the whole family</div>
    <div class="light">• Photo Spots • Trunk or Treat •</div>
    <div class="dark">• Assorted Halloween Activities •</div>
    <div class="light">• Opening Kids Parade •</div>
    <div class="dark">• Pumpkin Patch •</div>
    <div class="light">• Home Decorating Contest •</div>
    <br />
    <div class="tile-container">
      <div class="booed tile">
        <a routerLink="/booYourNeighbor" id="booed-link">
          <img src="/assets/images/booTile.png" />
          <div class="tile-title"><h2>Did you get Boo'ed?</h2></div>
        </a>
      </div>
      <div class="signup tile" *ngIf="acceptingTrunks">
        <a routerLink="/trunkOrTreat" id="trunk-or-treat-signup">
          <img src="/assets/images/trunkTile.png" />
          <div class="tile-title"><h2>Decorate you car!</h2></div>
        </a>
      </div>
      <div class="signup tile" *ngIf="acceptingHouses">
        <a routerLink="/houseDecoration" id="house-decoration-signup">
          <img src="/assets/images/houseTile.png" />
          <div class="tile-title"><h2>Decorate your home!</h2></div>
        </a>
      </div>
      <div class="house-decor-vote tile" *ngIf="acceptingVotes">
        <a routerLink="/houseVote" id="house-decoration-vote">
          <img src="/assets/images/voteTile.png" />
          <div class="tile-title"><h2>Vote for Best Decorations!</h2></div>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="clear-floats"></div>
