<div class="float right">
  <div class="event-details">
    <div class="date">Saturday October 27, 2018</div>
    <div class="time">5:00 - 7:00pm</div>
    <div class="location">At the Belle Creek Family Center</div>
  </div>
</div>
<div class="float left">
  <div class="activity-details">
    <div class="white">Fun for the whole family</div>
    <div class="light">• Photo Booth • Trunk or Treat •</div>
    <div class="dark">• Assorted halloween Activities •</div>
    <div class="light">• Music &amp; Dancing •</div>
    <div class="dark">• Costume Contest •</div>
    <div class="signup">
      <a [routerLink]="['/trunkOrTreat']" id="trunk-or-treat-signup">Provide a Trunk</a>
    </div>
    <div class="booed">
      <a id="booed-link" [routerLink]="['/booYourNeighbor']">Did you get booed?</a>
    </div>
  </div>
</div>
