<h1>So you've been boo'ed!</h1>
<p>
  That is great! I hope you enjoyed your special treats. Let's keep the fun going. Here are the nex steps:
</p>
<ul>
  <li>Place your "We've Been Booed" sign on your front door or window. This is how you tell your neighbors not to boo
    you again.</li>
  <li>Preferably, within two days, make two copies of the instructions and the "We've Been Booed" sign, and gather two
    sets of special treats.</li>
  <li>Deliver the treats and instructions to two other houses at Belle Creek who do not already have the "We've Been
    Booed" sign.</li>
</ul>
<a id="booed-link" href="assets/booed-cards.pdf" target="booed">Download a copy of the instructions.</a>
