<h1 class="stylized">So you've been boo'ed!</h1>
<p>
  That is great! I hope you enjoyed your special treats. Let's keep the fun going. Here are the next steps:
</p>
<ul>
  <li>Place your "We've Been Booed" sign on your front door or window. This is how you tell your neighbors not to boo
    you again - or don't if you want to be boo'ed again.</li>
  <li>Preferably within two days, make two copies of the instructions and the "We've Been Boo'ed" sign, and gather two
    sets of special treats.</li>
  <li>Deliver the treats and instructions to two other houses in Belle Creek who do not already have the "We've Been
    Booed" sign.</li>
</ul>
<p>
  You can <a id="booed-link" href="assets/booed-cards.pdf" target="booed">download a copy of the instructions</a> or
  you can pick up pre-printed copies at the family center. You can also buy pre-built special treats for $5. The 
  proceeds of which will be used for future events.
</p>
<div class="return-home">
  <a routerLink="/">Back Home</a>
</div>
